button {
    font-size: 16px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: blue;
    border-width: 1px;
}


.counterButton{
    background-color: #00a5ab;
}

.resetButton{    
    background-color: #824f8c;
}

.totalCount{
    font-size: 150px;
    padding: 20px;
}